
.icon-based-menu {width:468px;margin:0 auto;margin-bottom:50px;}
.icon-based-menu > ul {display: inline-block;}
.icon-based-menu > ul > li {float: left;width:78px;height: 16px;background:url(img/kezakoom-icons.png)no-repeat;font-family: "FuturaMedium",arial,serif;font-size: 14px;color: #504c4c;padding-top: 30px;text-align:center;}
.icon-based-menu > ul > li:nth-child(1) {background-position: 0px 0px;}
.icon-based-menu > ul > li:nth-child(2) {background-position: -78px 0px;}
.icon-based-menu > ul > li:nth-child(3) {background-position: -156px 0px;}
.icon-based-menu > ul > li:nth-child(4) {background-position: -234px 0px;}
.icon-based-menu > ul > li:nth-child(5) {background-position: -312px 0px;}
.icon-based-menu > ul > li:nth-child(6) {background-position: -390px 0px;}
.icon-based-menu > ul > li > span {display:none;}
.icon-based-menu > ul > li:not(.active):hover {background-position-y:-52px;cursor:pointer;}
.icon-based-menu > ul > li:not(.active):hover >span {display:block;opacity:.4;}
.icon-based-menu > ul > li.active {background-position-y:-100px;cursor:pointer;}
.icon-based-menu > ul > li.active > span {display:block;}

#kezakoom-wrapper {margin-top:40px;}

#kezakoom-content-wrapper {text-align: center;}
#kezakoom-content-wrapper > div {display: inline-block;background-color: #fff;margin-bottom:40px; padding-top: 50px;}
#kezakoom-content-wrapper > div > article{width: 740px;display: inline-block;margin-bottom: 50px;text-align: left;}
#kezakoom-content-wrapper > div > article > h4{float:left;font-size: 14px;color: #1192a6;text-transform: none;display:inline-block; vertical-align:middle;}
#kezakoom-content-wrapper > div > article > p{float:right;width: 580px;font-size: 13px;color: #504c4c;}

