#profil-wrapper {}
#profil-wrapper > nav {text-align:center;}

#profil-wrapper > section {display:none;}
#profil-wrapper > section.active {display:block;}
#profil-wrapper > section > h4 {text-transform:none;color:#1192a6;font-family:'FuturaMedium',arial,serif;font-weight:lighter;font-size:1.1rem;}

dd >  table{width: 100%;}
dd >  table tr td{vertical-align: middle;}
dd >  table tr td:first-child{width: 52px;}
dd >  table tr td:nth-child(2){width: 180px;font-size:.9rem;font-family:'GillSans',arial,serif;}
dd >  table tr td:last-child{width: 38px;height: 38px;}

.stream {margin:20px 0 40px 0;}
.stream > dt {margin-top:10px;}
.stream > dt > p {padding:5px 5px 5px 55px;font-size:.6rem;}
.stream > dt > div {}
.stream > dt > div > * {display:inline-block;vertical-align:top;}
.stream > dt > div > .stream-post-user-avatar, .stream > dd > .comments-wrapper > .stream-post-user-avatar {width:40px;height:40px;margin-right:10px;}
.stream > dt > div > .stream-post-user-avatar > img, .stream > dd > .comments-wrapper > .stream-post-user-avatar > img {width:100%;height:100%;}
.stream > dt > div > .stream-post-user-avatar > i {color:#73b260;font-size:1.8rem;padding-left:10px;text-shadow: 0px -1px -1px #888;filter: dropshadow(color=#888, offx=0, offy=-1);}
.stream > dt > div > .stream-post-user-msg, .stream > dd > .comments-wrapper > .stream-post-user-msg {font-size:.8rem;padding:12px;width:458px;}
.stream > dt > div > .stream-post-user-actions {}
.stream > dt > div > .stream-post-user-actions > ul {padding:5px;}
.stream > dt > div > .stream-post-user-actions > ul > li {width:30px;height:25px;display:inline-block;border-radius:5px;text-align:center;vertical-align:middle;padding-top:5px;}
.stream > dt > div > .stream-post-user-actions > ul > li > i {width:100%;height:100%;font-size:1.1rem;color:#c9c9c9;}
.stream > dt > div > .stream-post-user-actions > ul > li.active > i {color:#1192a6;}
.stream > dt > div > .stream-post-user-actions > ul > li.active:first-child > i {color:#e5aec8;}
.stream > dt > div > .stream-post-user-actions > ul > li.active:last-child > i {}
.stream > dt > div > .stream-post-user-actions > ul > li:hover {background-color:#eee;cursor:pointer;}
.stream > dt > div > .stream-post-user-actions > ul > li > span {display:block;position:absolute;width:15px;height:15px;background-color:#1192a6;color:#fff;font-size:.7rem;text-align:center;font-weight:bold;border-radius:5px;padding:2px;margin:-25px auto auto 5px;}
.stream > dt > div > .stream-post-user-actions > ul > li:first-child > span {background-color:#e5aec8;}
.stream > dd {border-bottom:solid 1px #e9e9e9;padding-bottom:20px;box-shadow:0px 1px 1px 0px #fff;}
.stream > dd:last-child {border-bottom:none;box-shadow:none;padding-bottom:0;}
.stream > dd > .post-message-wrapper > input {background-color:#ededed;padding:10px;font-size:.9rem;border:none;box-shadow:inset 0px 0px 5px #ddd;margin:20px 0 0 53px;width:484px;}
.stream > dd > .comments-wrapper {margin:15px 0 0 100px;}
.stream > dd > .comments-wrapper > * {display:inline-block;vertical-align:top;}
.stream > dd > .comments-wrapper > .stream-post-user-msg > p > i {padding-left:10px;}

.see-all-actions-wrapper {width:100%;padding:60px 0 30px 0;text-align:center;background:url('img/dots.png') center 0px no-repeat;margin-bottom:200px;}


#profil-my-contacts > p {width:100%;padding:60px 0 30px 0;text-align:center;background:url('img/dots.png') center 0px no-repeat;margin-top:20px;}


#profil-my-contacts > dl > dd {display:inline-block;width:280px;vertical-align:top;margin:10px 0 10px 0;}
#profil-my-contacts > dl > dd:nth-child(even) {margin-left:29px;}
#profil-my-contacts dd >  table tr td:last-child a{font-size:2rem;padding:0px 8px;}



#profil-infos-wrapper {margin-bottom:200px;}
#profil-infos-wrapper > #profil-infos a, #profil-infos-wrapper > #profil-infos a:visited, #profil-infos-wrapper > #profil-infos a:link {color:#1192a6;text-decoration:underline;}
#profil-infos-wrapper > #profil-infos a:hover {text-decoration:none;}
#profil-infos-wrapper > #profil-infos {position:relative;}
#profil-infos-wrapper > #profil-infos > p {text-align:center;color:#ce8054;text-transform:uppercase;font-size:.9rem}
#profil-infos-wrapper > #profil-infos > p:first-child {right:15px;position:absolute;font-size:.75rem;text-transform:none;font-family:'GillSans',arial,serif;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details {}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > div {display:inline-block;vertical-align:top;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-img-wrapper {width:90px;height:90px;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-img-wrapper > img {width:100%;height:100%;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-label-wrapper {font-size:.75rem;text-transform:uppercase;color:#bababa;text-indent:5px;font-weight:bold;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-values-wrapper {font-size: .8rem;text-transform:uppercase;color:#636363;text-indent:15px;font-family:'GillSans',arial,serif;}
#profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-values-wrapper > ul > li:nth-child(2), #profil-infos-wrapper > #profil-infos > #profil-infos-details > .profil-infos-details-values-wrapper > ul > li:nth-child(3) {text-transform:none;}

#profil-infos-wrapper > #profil-infos > #profil-infos-mailbox-menu {}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li {display:inline-block;vertical-align:top;margin:2px 5px 0 5px;}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li > a {padding:8px 20px;}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li:first-child {margin-top:0;width:209px;}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li:last-child {margin-right:0;}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li:first-child > a {padding:10px 4px 5px 4px;}
#profil-infos-wrapper > #profil-infos-mailbox-menu > li:first-child > a > i {font-size:1.1rem;}

#profil-infos-wrapper > #profil-infos > #action-counter-wrapper {margin:10px 0 10px 0;}
#profil-infos-wrapper > #profil-infos > #action-counter-wrapper > #action-scale-wrapper {width:100%;height:30px;margin:5px 0 5px 0;border-radius:4px;box-shadow:inset 0 0 5px #000;background: -moz-linear-gradient(top,#828282 0%,#545454);background: -webkit-gradient(linear, left top, left bottom, from(#828282),to(#545454));}
#profil-infos-wrapper > #profil-infos > #action-counter-wrapper > #action-score {border:solid 1px #d8a080;font-size:1.1rem;letter-spacing:1.5px;color:#ffffff;text-align:right;overflow:hidden;margin:-35px auto auto 0px;width:25px;height:30px;border-radius:3px;padding:4px 0 0 0;text-shadow:-1px -1px 0px rgba(128,56,17,.5);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-moz-box-shadow:2px 0px 2px rgba(000,000,000,.2),inset 0px 15px 2px rgba(255,255,255,.2);-webkit-box-shadow:2px 0px 2px rgba(000,000,000,.2),inset 0px 15px 2px rgba(255,255,255,.2);transition: all 2s;-moz-transition: all 2s;-webkit-transition: all 2s;-o-transition: all 2s;background: rgb(248,182,132);background: -moz-linear-gradient(top,  rgba(248,182,132,1) 0%, rgba(219,121,68,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,182,132,1)), color-stop(100%,rgba(219,121,68,1)));background: -webkit-linear-gradient(top,  rgba(248,182,132,1) 0%,rgba(219,121,68,1) 100%);background: -o-linear-gradient(top,  rgba(248,182,132,1) 0%,rgba(219,121,68,1) 100%);background: -ms-linear-gradient(top,  rgba(248,182,132,1) 0%,rgba(219,121,68,1) 100%);background: linear-gradient(to bottom,  rgba(248,182,132,1) 0%,rgba(219,121,68,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b684', endColorstr='#db7944',GradientType=0 );}


#profil-infos-wrapper > #profil-infos-mailbox-messages {margin-bottom:30px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dt {color:#bababa;font-size:.7rem;margin:20px 0 5px 0;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > * {display:inline-block;vertical-align:top;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-message {width:540px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-message > p {display:inline-block;vertical-align:top;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-message > p:first-child {font-size:.9rem;margin:8px 0 8px 5px;width:490px;overflow:hidden;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-message > p:first-child > i {padding-left:15px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-message > p:nth-child(2) > a {font-size:2rem;padding:0px 10px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-social {margin-top:10px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-social > li {display:inline-block;vertical-align:top;padding:5px;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-social > li > i {color:#c9c9c9;font-size:1.1rem;}
#profil-infos-wrapper > #profil-infos-mailbox-messages > dd > .profil-infos-mailbox-social > li.active > i {color:#e5aec8;}



#points-wrapper {text-align:center;margin:0 0 40px 0;}
#points-wrapper > h2 {margin-bottom:10px}
#points-wrapper > div {margin-left:60px;width:250px;}
#points-wrapper > div > p:not(:last-child) {font-family:'GillSans',arial,serif;color:#636363;}
#points-wrapper > div > p:first-child {text-transform:uppercase;}
#points-wrapper > div > p:nth-child(2) {font-size:.85rem;}
#points-wrapper > div > p:last-child {margin:10px;}
#points-wrapper > div > p > span {color:#d1c724;}
#points-wrapper > div > p:first-child > span {font-weight:bold;}

#my-godsons {margin-top:50px;}
#my-godsons > dl > dd {margin:15px 0 15px 60px;}
#my-godsons > p {width:100%;padding:60px 0 30px 0;text-align:center;background:url('img/dots.png') center 0px no-repeat;margin-left:30px;}
#my-godsons > h2 {margin:15px 0 15px 0;}
#my-godsons dd >  table tr td:last-child a{font-size:2rem;padding:0px 8px;}